.a-red-social{
    width: fit-content;
}

.div-contenedor-redes-sociales{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.div-contenedor-redes-sociales-footer{
    width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
}

.figure-red-social{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: fit-content;
}



